{
    "tabs": {
        "Hunyuan T2V": {
            "defaults": {
                "guidance": 8,
                "flow_shift": 9
            }
        }
    },
    "models": {
        "hunyuan": [
            {
                "name": "HunCusVid",
                "path": "hyvid/huncusvid_v10.safetensors"
            }
        ]
    },
    "loras": {
        "hunyuan": {
            "defaults": {
                "uploads/video/hyvid/hyreward_prompt_adherence.safetensors": {
                    "strength": 1,
                    "merge": 2
                },
                "uploads/video/hyvid/hyreward_aesthetics.safetensors": {
                    "strength": 1,
                    "merge": 2
                }
            }
        }
    },
    "preview_root": "/lora_previews"
}
