{
    "tabs": {
        "Hunyuan T2V": {
            "defaults": {
                "guidance": 8,
                "flow_shift": 9,
                "tile_size": 192,
                "temporal_size": 128,
                "temporal_overlap": 16
            }
        }
    },
    "models": {
        "hunyuan": [
            {
                "name": "HunCusVid",
                "path": "hyvid/huncusvid_v10.safetensors",
                "quantization": "fp8_e4m3fn"
            }
        ]
    }
}
